@import '../../styles/style.scss';

.transaction-item {
  padding: 20px 12px;

  width: 848px;

  display: flex;
  align-items: center;

  background-color: $color-background;
}

.transaction-item-category {
  @include bold-medium-text;

  width: 92px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 999px;
  border: none;

  color: $color-off-white;

  &.life {
    background-color: $color-category-life;
  }
  &.shopping {
    background-color: $color-category-shopping;
  }
  &.allowance {
    background-color: $color-category-allowance;
  }
  &.culture {
    background-color: $color-category-culture;
  }
  &.etc {
    background-color: $color-category-etc;
  }
  &.food {
    background-color: $color-category-food;
  }
  &.health {
    background-color: $color-category-health;
  }
  &.salary {
    background-color: $color-category-salary;
  }
  &.undefined {
    background-color: $color-category-undefined;
  }
  &.traffic {
    background-color: $color-category-traffic;
  }
}

.transaction-item-title {
  @include body-medium-text;

  margin-left: 10px;

  flex: 1;
  color: $color-title-active;
}

.transaction-item-payment {
  @include body-medium-text;

  flex: 1;
  color: $color-body;
}

.transaction-item-price {
  @include bold-medium-text;

  color: $color-title-active;
}
