@import '../../styles/color.scss';
@import '../../styles/typography.scss';
@import '../../styles/text-style.scss';

.paymentbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 51px;
}

.form-wrapper {
  margin-top: -32px;
  padding: 8px 32px;
  height: 194px;
  max-width: 904px;
  max-height: 76px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $color-off-white;

  border: 1px solid #c1c5c5;
  border-radius: 10px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);

  &:nth-child(2) {
    flex-grow: 1;
  }
  &:nth-child(4) {
    flex-grow: 1;
  }
  &:first-child {
    border: none;
  }
}

.form-element {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 24px;
  border-left: 1px solid $color-placeholder;
  &:nth-child(1) {
    border: none;
  }
}

.form-element-title {
  font-size: 0.9rem;
  color: $color-primary-300;
  width: 100%;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 0.3rem;
}

.price-input-wrapper {
  @include body-regular-text;
  display: flex;
  svg {
    width: 18px;
  }
  .form-element-input {
    margin-left: 24px;
    margin-right: 8px;
    width: 96px;
    text-align: right;
  }
}

.form-element-input {
  @include body-regular-text;
  width: 100%;
  border: none;
  &::placeholder {
    color: $color-label;
  }
  &:focus {
    outline: none;
  }
}

.form-button {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  gap: 8px;
  width: 40px;
  height: 40px;

  /* Primary1 */
  border: 2px solid #2ac1bc;
  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  svg {
    width: 24px;
    path {
      stroke: $color-primary-200;
    }
  }
}
