@import 'reset.scss';
@import 'text-style.scss';
@import 'color.scss';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: $font-main;

  background-color: $color-off-white;
}

button {
  cursor: pointer;
  border: none;
}

.life {
  background-color: $color-category-life;
  stroke: $color-category-life;
}
.shopping {
  background-color: $color-category-shopping;
  stroke: $color-category-shopping;
}
.allowance {
  background-color: $color-category-allowance;
  stroke: $color-category-allowance;
}
.culture {
  background-color: $color-category-culture;
  stroke: $color-category-culture;
}
.etc {
  background-color: $color-category-etc;
  stroke: $color-category-etc;
}
.food {
  background-color: $color-category-food;
  stroke: $color-category-food;
}
.health {
  background-color: $color-category-health;
  stroke: $color-category-health;
}
.salary {
  background-color: $color-category-salary;
  stroke: $color-category-salary;
}
.undefined {
  background-color: $color-category-undefined;
  stroke: $color-category-undefined;
}
.traffic {
  background-color: $color-category-traffic;
  stroke: $color-category-traffic;
}
