$font-main: 'Noto Sans KR', sans-serif;
$font-display: 'Do Hyeon', sans-serif;

$display-small-font-size: 24px;
$display-small-line-height: 24px;

$display-large-font-size: 48px;
$display-large-line-height: 56px;

$font-weight-400: 400;
$font-weight-500: 500;

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-22: 22px;

$line-height-16: 16px;
$line-height-24: 24px;
$line-height-32: 32px;
