@import '../../styles/color.scss';
@import '../../styles/text-style.scss';

.dropdown-ul {
  z-index: 1000;

  overflow: hidden;
  overflow-y: auto;

  position: absolute;
  top: 48px;
  left: -24px;

  width: 122px;
  max-height: 630px;
  display: none;

  background-color: $color-off-white;

  border: 1px solid $color-line;
  border-radius: 10px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);

  white-space: nowrap;

  &.active {
    display: block;
  }

  &.update {
    left: 0;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
  }
}

.dropdown-title {
  @include bold-small-text;

  padding: 2px 4px;

  border-bottom: 1px solid $color-line;

  &.expense {
    color: $color-error;
  }

  &.income {
    color: $color-primary-300;
  }
}

.dropdown-li {
  @include body-regular-text;

  cursor: pointer;

  padding: 16px 24px;

  color: $color-title-active;

  border-bottom: 1px solid $color-line;

  transition: 0.2s background-color ease;

  &:last-child {
    border: none;
  }

  &:hover {
    background-color: $color-background;
  }
}
