@import '../../styles/color.scss';
@import '../../styles/text-style.scss';

.doughnut-board {
  padding: 35px 42px 32px 42px;

  width: 848px;

  display: flex;
  align-items: center;
  gap: 90px;

  background-color: #ffffff;

  border: 1px solid #d7d7d7;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.doughnut-price-wrapper {
  flex: 1;
}

.doughnut-price-total {
  @include body-large-text;

  color: $color-title-active;
}

.price-category-wrapper {
  @include body-medium-text;

  padding: 16px;

  display: flex;
}

.category-chip {
  @include bold-medium-text;
  margin-right: 24px;
  width: 92px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 999px;
  border: none;

  color: $color-off-white;
}

.category-price {
  flex: 1;
  text-align: right;
}
